#me {
  display: block;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
  width: 45vw;
  margin: 0vw 5vw 3vw 2vw;
  height: 30vw;
  border: 5px solid #85754d;
  margin-top: 10vw;
  position: absolute;
}

#call_duration {
  color: white;
  font-size: 0.8em;
  text-align: center;
}

.name {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  align-self: flex-end;
  z-index: 1;
}

body {
  background-color: #4b2e83;
}

button img {
  height: 50%;
}

#remote-container {
  display: flex;
  height: 9vw;
  position: absolute;
  left: 7%;
  top: 7vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#remote-container div {
  height: 9vw;
  width: 12vw;
}

#controls {
  width: 20%;
  margin-left: 40%;
  position: absolute;
  z-index: 1;
  margin-top: 24vw;
  display: flex;
  justify-content: space-evenly;
}

#bg_music {
  float: right;
  margin-top: 10vw;
}

.visible {
  display: none;
}

#pinned {
  width: 600px;
  height: 440px;
  margin-right: 5vw;
  float: right;
  margin-top: 10vw;
  border: 5px solid #85754d;
}

#channel_name {
  color: #e8e3d3;
  font-size: 36pt;
  font-family: "Encode Sans Compressed", sans-serif;
  text-align: center;
  white-space: nowrap;
}
